<a href="https://colab.research.google.com/github/jaasielmark12/AIML-TASK-4/blob/main/Adult_Income_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("/content/adult.csv")

In [20]:
df.head(), df.shape

(   age  workclass  fnlwgt     education  educational-num      marital-status  \
 0   25    Private  226802          11th                7       Never-married
 1   38    Private   89814       HS-grad                9  Married-civ-spouse
 2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
 3   44    Private  160323  Some-college               10  Married-civ-spouse
 4   18          ?  103497  Some-college               10       Never-married

           occupation relationship   race  gender  capital-gain  capital-loss  \
 0  Machine-op-inspct    Own-child  Black    Male             0             0
 1    Farming-fishing      Husband  White    Male             0             0
 2    Protective-serv      Husband  White    Male             0             0
 3  Machine-op-inspct      Husband  Black    Male          7688             0
 4                  ?    Own-child  White  Female             0             0

    hours-per-week native-country income
 0              40  United-States  <=50K
 1              50  United-States  <=50K
 2              40  United-States   >50K
 3              40  United-States   >50K
 4              30  United-States  <=50K  ,
 (48842, 15))

In [21]:
# Numerical features
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Categorical features
categorical_features = df.select_dtypes(include=['object']).columns.tolist()

numerical_features, categorical_features

(['age',
  'fnlwgt',
  'educational-num',
  'capital-gain',
  'capital-loss',
  'hours-per-week'],
 ['workclass',
  'education',
  'marital-status',
  'occupation',
  'relationship',
  'race',
  'gender',
  'native-country',
  'income'])

In [22]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['income'] = le.fit_transform(df['income'])

df['income'].value_counts()

income
0    37155
1    11687
Name: count, dtype: int64

In [23]:
nominal_features = [
    'workclass', 'education', 'marital-status',
    'occupation', 'relationship', 'race',
    'gender', 'native-country' # Changed 'sex' to 'gender'
]

df_encoded = pd.get_dummies(df, columns=nominal_features, drop_first=True)

df_encoded.shape

(48842, 101)

In [24]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df_encoded[numerical_features] = scaler.fit_transform(
    df_encoded[numerical_features]
)

df_encoded.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,0,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,1,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,1,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,0,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [25]:
df[numerical_features].describe(), df_encoded[numerical_features].describe()

(                age        fnlwgt  educational-num  capital-gain  \
 count  48842.000000  4.884200e+04     48842.000000  48842.000000
 mean      38.643585  1.896641e+05        10.078089   1079.067626
 std       13.710510  1.056040e+05         2.570973   7452.019058
 min       17.000000  1.228500e+04         1.000000      0.000000
 25%       28.000000  1.175505e+05         9.000000      0.000000
 50%       37.000000  1.781445e+05        10.000000      0.000000
 75%       48.000000  2.376420e+05        12.000000      0.000000
 max       90.000000  1.490400e+06        16.000000  99999.000000

        capital-loss  hours-per-week
 count  48842.000000    48842.000000
 mean      87.502314       40.422382
 std      403.004552       12.391444
 min        0.000000        1.000000
 25%        0.000000       40.000000
 50%        0.000000       40.000000
 75%        0.000000       45.000000
 max     4356.000000       99.000000  ,
                 age        fnlwgt  educational-num  capital-gain  \
 count  4.884200e+04  4.884200e+04     4.884200e+04  4.884200e+04
 mean   2.281092e-16 -5.848208e-17    -9.208746e-17  1.047440e-17
 std    1.000010e+00  1.000010e+00     1.000010e+00  1.000010e+00
 min   -1.578629e+00 -1.679680e+00    -3.531030e+00 -1.448035e-01
 25%   -7.763164e-01 -6.828752e-01    -4.193353e-01 -1.448035e-01
 50%   -1.198790e-01 -1.090844e-01    -3.037346e-02 -1.448035e-01
 75%    6.824334e-01  4.543232e-01     7.475502e-01 -1.448035e-01
 max    3.745808e+00  1.231723e+01     2.303397e+00  1.327438e+01

        capital-loss  hours-per-week
 count  4.884200e+04    4.884200e+04
 mean  -1.018345e-17    4.466169e-17
 std    1.000010e+00    1.000010e+00
 min   -2.171271e-01   -3.181452e+00
 25%   -2.171271e-01   -3.408696e-02
 50%   -2.171271e-01   -3.408696e-02
 75%   -2.171271e-01    3.694214e-01
 max    1.059179e+01    4.727312e+00  )

In [26]:
df_encoded.to_csv("/content/adult_processed.csv", index=False)